n8n_DIAN_solo_HTTP_Request.json
{
  "name": "DIAN - Buscar por CUFE (solo HTTP Request)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cufe",
              "name": "cufe",
              "value": "6667fe1f8018f00e0b631cc9e3d790508f24d474dd3a75d2bc941196e78c8c235990877c2207b82eb5407ff41cbcfc45",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set_cufe",
      "name": "Definir CUFE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300],
      "notes": "Aquí pones el CUFE a consultar. Puedes usar {{ $json.cufe }} si viene de otro nodo."
    },
    {
      "parameters": {
        "url": "https://catalogo-vpfe.dian.gov.co/User/SearchDocument",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-419,es;q=0.7"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br, zstd"
            },
            {
              "name": "Cache-Control",
              "value": "max-age=0"
            },
            {
              "name": "Sec-Ch-Ua",
              "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Brave\";v=\"144\""
            },
            {
              "name": "Sec-Ch-Ua-Mobile",
              "value": "?1"
            },
            {
              "name": "Sec-Ch-Ua-Platform",
              "value": "\"Android\""
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "document"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "navigate"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "none"
            },
            {
              "name": "Sec-Fetch-User",
              "value": "?1"
            },
            {
              "name": "Sec-Gpc",
              "value": "1"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Mobile Safari/537.36"
            }
          ]
        }
      },
      "id": "http_get_page",
      "name": "GET página búsqueda DIAN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 300],
      "webhookId": "",
      "notes": "Obtiene la página y las cookies de sesión. Guarda cookies si tu n8n lo permite. IMPORTANTE: Necesitas capturar las cookies de la respuesta (ARRAffinity, ARRAffinitySameSite, _RequestVerificationToken) para usarlas en el POST."
    },
    {
      "parameters": {
        "jsCode": "// Extraer _RequestVerificationToken del HTML y cookies de la respuesta.\n// El CUFE viene del nodo anterior (Definir CUFE).\nconst item = $input.first();\nconst html = item.json.body ?? item.json.data ?? (item.binary?.data ? Buffer.from(item.binary.data, 'base64').toString('utf8') : '');\n\n// Buscar el token en el formulario (puede tener uno o dos guiones bajos)\nconst match = html.match(/name=\"_RequestVerificationToken\"[^>]*value=\"([^\"]+)\"/) || \n              html.match(/name=\"__RequestVerificationToken\"[^>]*value=\"([^\"]+)\"/) ||\n              html.match(/name=\"_RequestVerificationToken\".*?value=\"([^\"]+)\"/s) ||\n              html.match(/name=\"__RequestVerificationToken\".*?value=\"([^\"]+)\"/s);\nconst token = match ? match[1] : null;\n\n// Extraer cookies de la respuesta si están disponibles\nconst cookies = item.json.headers?.['set-cookie'] || item.json.headers?.['Set-Cookie'] || [];\nlet cookieToken = null;\nlet arraffinity = null;\nlet arraffinitySameSite = null;\n\n// Parsear cookies\nif (Array.isArray(cookies)) {\n  cookies.forEach(cookie => {\n    if (cookie.includes('_RequestVerificationToken=')) {\n      cookieToken = cookie.match(/_RequestVerificationToken=([^;]+)/)?.[1];\n    }\n    if (cookie.includes('ARRAffinity=')) {\n      arraffinity = cookie.match(/ARRAffinity=([^;]+)/)?.[1];\n    }\n    if (cookie.includes('ARRAffinitySameSite=')) {\n      arraffinitySameSite = cookie.match(/ARRAffinitySameSite=([^;]+)/)?.[1];\n    }\n  });\n} else if (typeof cookies === 'string') {\n  if (cookies.includes('_RequestVerificationToken=')) {\n    cookieToken = cookies.match(/_RequestVerificationToken=([^;]+)/)?.[1];\n  }\n  if (cookies.includes('ARRAffinity=')) {\n    arraffinity = cookies.match(/ARRAffinity=([^;]+)/)?.[1];\n  }\n  if (cookies.includes('ARRAffinitySameSite=')) {\n    arraffinitySameSite = cookies.match(/ARRAffinitySameSite=([^;]+)/)?.[1];\n  }\n}\n\nconst cufe = $('Definir CUFE').first().json.cufe || $input.first().json.cufe;\n\nif (!token) throw new Error('No se encontró _RequestVerificationToken en la página');\n\nreturn [{ \n  json: { \n    _RequestVerificationToken: token, // Token del formulario (body)\n    cookieToken: cookieToken || token, // Token de la cookie (header)\n    arraffinity: arraffinity,\n    arraffinitySameSite: arraffinitySameSite || arraffinity,\n    DocumentKey: cufe \n  } \n}];"
      },
      "id": "code_extract_token",
      "name": "Extraer token y cookies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://catalogo-vpfe.dian.gov.co/User/SearchDocument",
        "sendBody": true,
        "specifyBody": "urlEncoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "_RequestVerificationToken",
              "value": "={{ $json._RequestVerificationToken }}"
            },
            {
              "name": "cf-turnstile-response",
              "value": "={{ $json.cfTurnstileResponse || '' }}"
            },
            {
              "name": "DocumentKey",
              "value": "={{ $json.DocumentKey }}"
            }
          ]
        },
        "options": {
          "redirect": {},
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br, zstd"
            },
            {
              "name": "Accept-Language",
              "value": "es-419,es;q=0.7"
            },
            {
              "name": "Cache-Control",
              "value": "max-age=0"
            },
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "Cookie",
              "value": "_RequestVerificationToken={{ $json.cookieToken || $json._RequestVerificationToken }}; ARRAffinity={{ $json.arraffinity || '' }}; ARRAffinitySameSite={{ $json.arraffinitySameSite || $json.arraffinity || '' }}"
            },
            {
              "name": "Origin",
              "value": "https://catalogo-vpfe.dian.gov.co"
            },
            {
              "name": "Priority",
              "value": "u=0, i"
            },
            {
              "name": "Referer",
              "value": "https://catalogo-vpfe.dian.gov.co/"
            },
            {
              "name": "Sec-Ch-Ua",
              "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Brave\";v=\"144\""
            },
            {
              "name": "Sec-Ch-Ua-Mobile",
              "value": "?1"
            },
            {
              "name": "Sec-Ch-Ua-Platform",
              "value": "\"Android\""
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "document"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "navigate"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "same-origin"
            },
            {
              "name": "Sec-Fetch-User",
              "value": "?1"
            },
            {
              "name": "Sec-Gpc",
              "value": "1"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Mobile Safari/537.36"
            }
          ]
        }
      },
      "id": "http_post_search",
      "name": "POST SearchDocument (DIAN)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 300],
      "notes": "Petición POST reorganizada según web scraping. IMPORTANTE: El cf-turnstile-response debe obtenerse de una sesión real del navegador. Si no tienes un token válido, la DIAN puede rechazar la petición. Para automatización completa, considera usar Playwright o la API local."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Definir CUFE", "type": "main", "index": 0 }]]
    },
    "Definir CUFE": {
      "main": [[{ "node": "GET página búsqueda DIAN", "type": "main", "index": 0 }]]
    },
    "GET página búsqueda DIAN": {
      "main": [[{ "node": "Extraer token y cookies", "type": "main", "index": 0 }]]
    },
    "Extraer token y cookies": {
      "main": [[{ "node": "POST SearchDocument (DIAN)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
